@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Oleo+Script&display=swap");
/* font-family: 'Bree Serif', serif; */
* {
  margin: 0;
  padding: 0;
}
html{
  user-select: none;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: rgb(202 202 202);
  display: flex;
  align-items: center;
  justify-content: center;
}
#heading{
    text-align: center;
    font-size: 40px;
    font-family: 'Bree Serif', serif;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
.leapYear {
  background-color: rgb(0 218 241);
  padding: 20px;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0px 0px 43px 17px #636363bf;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.leapYear #year {
  padding: 10px;
  width: 64%;
  height: 36px;
  font-size: 30px;
  border-radius: 10px;
  font-family: "Bree Serif", serif;
  border: none;
  border: 1px solid #9e9e9e;
}
.leapYear #year:focus {
  outline: none;
}
button#button {
  height: 58px;
  padding: 10px;
  font-size: 26px;
  background: green;
  border-radius: 10px;
  letter-spacing: 2px;
  color: white;
  border: none;
  font-family: "Bree Serif", serif;
}
button#button:focus {
    outline: none;
}

button#button:active {
    background: red;
}
.output {
  margin-top: 20px;
}

label {
  font-size: 30px;
  font-family: "Bree Serif", serif;
}
h2#showResult {
  width: 97%;
  background: #f3f0f0c9;
  height: 80px;
  border-radius: 10px;
  padding: 0 11px;
  letter-spacing: 2px;
  font-family: "Bree Serif", serif;
  display: flex;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#wrongMsg {
  font-size: 25px;
  color: #e00b0b;
  font-weight: 700;
  padding: 10px;
  margin-top: 6px;
  border-radius: 5px;
}